In [59]:
# Importing the pandas library and aliasing it as pd
import pandas as pd

In [60]:
# Reading the CSV file 'artDataset.csv' and displaying the first rows 
# db source - https://www.kaggle.com/datasets/flkuhm/art-price-dataset?select=artDataset
data = pd.read_csv('Data/artDataset.csv')
data.head()

,Unnamed: 0,price,artist,title,yearCreation,signed,condition,period,movement
0,0,28.500 USD,Tommaso Ottieri,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,Contemporary,Baroque
1,1,3.000 USD,Pavel Tchelitchew,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,Post-War,Surrealism
2,2,5.000 USD,Leo Gabin,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,Contemporary,Abstract
3,3,5.000 USD,Matthias Dornfeld,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,Contemporary,Abstract
4,4,2.500 USD,Alexis Marguerite Teplin,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,Contemporary,Abstract

In [61]:
data.columns

Index(['Unnamed: 0', 'price', 'artist', 'title', 'yearCreation', 'signed',
       'condition', 'period', 'movement'],
      dtype='object')

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    754 non-null    int64
 1   price         754 non-null    object
 2   artist        753 non-null    object
 3   title         754 non-null    object
 4   yearCreation  754 non-null    object
 5   signed        754 non-null    object
 6   condition     754 non-null    object
 7   period        754 non-null    object
 8   movement      754 non-null    object
dtypes: int64(1), object(8)
memory usage: 53.1+ KB

In [63]:
data.describe

<bound method NDFrame.describe of      Unnamed: 0       price                    artist                  title  \
0             0  28.500 USD           Tommaso Ottieri         Bayreuth Opera
1             1   3.000 USD         Pavel Tchelitchew  Drawings of the Opera
2             2   5.000 USD                 Leo Gabin        Two on Sidewalk
3             3   5.000 USD         Matthias Dornfeld            Blumenszene
4             4   2.500 USD  Alexis Marguerite Teplin   Feverish Embarkation
..          ...         ...                       ...                    ...
749         749     680 USD                 Jane Kent       Miracle Grow #17
750         750   1.275 USD                Gary Bower           Rolph Series
751         751     680 USD                 Jane Kent               Untitled
752         752   1.275 USD              T. L. Solien                Juniper
753         753     680 USD                 John Duff         Untitled Print

                 yearCreation  \
0                        2021
1    First Half 20th Century
2                        2016
3                        2010
4                        2001
..                        ...
749                      2012
750                      1970
751                      2012
752                      1986
753                      1975

                                                signed  \
0                                      Signed on verso
1                                    Signed and titled
2                    Signed, titled and dated on verso
3    Signed, titled and dated on the reverse with t...
4                                      Signed on verso
..                                                 ...
749                   Signed and dated on lower right.
750                                              [nan]
751                                              [nan]
752                                              [nan]
753              Signed, dated and numbered in pencil.

                                             condition        period  \
0                 This work is in excellent condition.  Contemporary
1    Not examined out of frame.No obvious signs of ...      Post-War
2                 This work is in excellent condition.  Contemporary
3    This work is in excellent condition.There is m...  Contemporary
4                 This work is in excellent condition.  Contemporary
..                                                 ...           ...
749  Not examined out of frame.No obvious signs of ...  Contemporary
750  Not examined out of frame.Significant undulati...  Contemporary
751  Not examined out of frame.No apparent imperfec...  Contemporary
752  Not examined outside of frame.Pinholes at edge...  Contemporary
753  Not examined out of frame.Scattered surface sc...        Modern

                  movement
0                  Baroque
1               Surrealism
2                 Abstract
3                 Abstract
4                 Abstract
..                     ...
749               Abstract
750  Geometric Abstraction
751  Geometric Abstraction
752               Abstract
753  Geometric Abstraction

[754 rows x 9 columns]>

In [64]:
artist_none = data[data['artist'].isna()]
artist_none

,Unnamed: 0,price,artist,title,yearCreation,signed,condition,period,movement
725,725,1.275 USD,NaN,[nan],[nan],Signed and dated in pencil to verso,Not examined out of frame.Minor sheet undulati...,Contemporary,Realism

price float 
yearCreation datetime

In [65]:
# Splitting the 'price' column into two separate columns: 'price_amount' and 'price_currency'
# The split is done based on the space character (' ') with a maximum of one split (n=1)
# The expand=True parameter ensures that the split results are returned as separate columns in the DataFrame
data[['price_amount', 'price_currency']] = data['price'].str.split(pat=' ', n=1, expand=True)
# Multiply the values in the 'price_amount' column by 1000
data['price_amount'] = 1000 * data['price_amount'].astype(float)

In [66]:
data

,Unnamed: 0,price,artist,title,yearCreation,signed,condition,period,movement,price_amount,price_currency
0,0,28.500 USD,Tommaso Ottieri,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,Contemporary,Baroque,28500.0,USD
1,1,3.000 USD,Pavel Tchelitchew,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,Post-War,Surrealism,3000.0,USD
2,2,5.000 USD,Leo Gabin,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,Contemporary,Abstract,5000.0,USD
3,3,5.000 USD,Matthias Dornfeld,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,Contemporary,Abstract,5000.0,USD
4,4,2.500 USD,Alexis Marguerite Teplin,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,Contemporary,Abstract,2500.0,USD
...,...,...,...,...,...,...,...,...,...,...,...
749,749,680 USD,Jane Kent,Miracle Grow #17,2012,Signed and dated on lower right.,Not examined out of frame.No obvious signs of ...,Contemporary,Abstract,680000.0,USD
750,750,1.275 USD,Gary Bower,Rolph Series,1970,[nan],Not examined out of frame.Significant undulati...,Contemporary,Geometric Abstraction,1275.0,USD
751,751,680 USD,Jane Kent,Untitled,2012,[nan],Not examined out of frame.No apparent imperfec...,Contemporary,Geometric Abstraction,680000.0,USD
752,752,1.275 USD,T. L. Solien,Juniper,1986,[nan],Not examined outside of frame.Pinholes at edge...,Contemporary,Abstract,1275.0,USD
753,753,680 USD,John Duff,Untitled Print,1975,"Signed, dated and numbered in pencil.",Not examined out of frame.Scattered surface sc...,Modern,Geometric Abstraction,680000.0,USD

In [67]:
# rename 'Unnamed: 0' to 'id_image' - connection with the png 
data.rename(columns={'Unnamed: 0': 'id_image'}, inplace=True)

can be done with:

data['yearCreation'].unique()

[year for year in data['yearCreation'].unique() if not year.isnumeric()]

In [68]:
# Create an empty list to store non-numeric years
non_numeric_years = []

# Iterate over unique values in the data['yearCreation']
for year in data['yearCreation'].unique():
    # Check if the value is not numeric
    if not str(year).isnumeric():
        # If not numeric, add it to the list of non_numeric_years
        non_numeric_years.append(year)
non_numeric_years

['First Half 20th Century ',
 '[nan]',
 '1992 - 2004',
 'Mid 20th Century ',
 'Second Half 20th Century ',
 '19th Century ',
 'Circa 1970 - 1979',
 'Circa 1877',
 'Second Half 19th Century ',
 'Circa 1925',
 '1961, printed in 2010',
 '3D printed using ABS, PLA plastics, resin, automobile paints, etched brass, dry transfers, acrylic mirror, batik fabric, quartz clock',
 '1992 - 1993',
 'Late 20th Century ',
 '2002 - 2020',
 '1965 - 2018',
 '1996-2003',
 'Late 19th Century ',
 '2004 - 2006',
 '1960 - 1969',
 'Circa 1971',
 '2006 - 2007',
 'Circa 1970',
 '1996 - 2009',
 '2007 - 2011',
 '20th Century ',
 '1998 / 2011',
 '1962 - 1963',
 'Circa 1980',
 'Circa 1900',
 'Early 20th Century ',
 'Circa 1930 - 1939',
 '1890 - 1899',
 'Circa 1941',
 'Printed 1984',
 'Circa 1930',
 '1911 - 1915',
 '1921 - 1929',
 '1990 - 1999',
 '21st Century ',
 '1987 - 1989',
 'Circa 1987',
 'Circa 1989',
 'Circa 1983',
 'Circa 1991',
 'Circa 2001',
 'Circa 1964']

In [69]:
from numpy import nan
from datetime import datetime


# Define a function to clean year values
def clean_yearCreation(arg):
    # Check if the input is not a string
    if not isinstance(arg, str): 
        return nan
    # Check if the input is a numeric year
    if arg.isnumeric():
        return pd.to_datetime(arg, format='%Y').year  # Convert to datetime and return year component
    # Check if the input contains 'Circa' and can be split into two parts
    if 'Circa' in arg and len(arg.split()) == 2:
        # Extract the year string by removing 'Circa' and any leading or trailing whitespace
        year_str = arg.replace('Circa', '').strip()
        # Check if the extracted year string is numeric
        if year_str.isnumeric():
            return pd.to_datetime(year_str, format='%Y').year  # Convert to datetime and return year component
    return nan

# Apply the clean_yearCreation function to each value in the 'yearCreation' column
data['clean_yearCreation'] = data['yearCreation'].apply(clean_yearCreation)
# Get the unique values in the 'clean_yearCreation' column
data['clean_yearCreation'].unique()

array([2021.,   nan, 2016., 2010., 2001., 1977., 2007., 1993., 2014.,
       1973., 2008., 2015., 2012., 2002., 1992., 2020., 1991., 2018.,
       1920., 2003., 2000., 2005., 1999., 1958., 1877., 2004., 2013.,
       2006., 1990., 1925., 1935., 1928., 2022., 1994., 1996., 2017.,
       2019., 2011., 1948., 1971., 1960., 1972., 1984., 1981., 1976.,
       1950., 1896., 1975., 1968., 1970., 1969., 1998., 1940., 1988.,
       1892., 1947., 1995., 1980., 1997., 1983., 1959., 1965., 1939.,
       1964., 1952., 1930., 1949., 1978., 1955., 1961., 1957., 2009.,
       1986., 1985., 1900., 1967., 1974., 1989., 1894., 1941., 1962.,
       1936., 1953., 1943., 1946., 1937., 1944., 1987., 1979., 1982.,
       1931., 1954.])

In [71]:
data['clean_yearCreation'].dtypes

dtype('float64')

In [72]:
# Generate filenames for images based on index values and assign them to a new column 'filename'
data['filename'] = ['../Art_Price/images/artDataset/image_{}.png'.format(index) for index in range(1, data.shape[0] + 1)]
data.head(1)

,id_image,price,artist,title,yearCreation,signed,condition,period,movement,price_amount,price_currency,clean_yearCreation,filename
0,0,28.500 USD,Tommaso Ottieri,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,Contemporary,Baroque,28500.0,USD,2021.0,../Art_Price/images/artDataset/image_1.png

In [78]:
data.to_csv('Data/corrected_artDataset.csv', index=False)